<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <form action='/products/<%=products.id%>?_method=PUT' method="POST">
    <input type="text" name="brand" value="<%=products.brand%>"><br>
    <input type="text" name="img" value="<%=products.img%>"><br>
    <input type="text" name="name" value="<%=products.name%>"><br>
    <input type="text" name="price" value="<%=products.price%>"><br>
      <div>
        <input type="text" name="description.detail1" value="<%=products.description.detail1%>"><br>
        <input type="text" name="description.detail2" value="<%=products.description.detail2%>"><br>
        <input type="text" name="description.detail3" value="<%=products.description.detail3%>"><br>
        <input type="text" name="description.detail4" value="<%=products.description.detail4%>"><br>
        <input type="text" name="description.detail5" value="<%=products.description.detail5%>"><br>
      </div>
    <input type="submit" value="Edit Product">
    </form>
    <!-- ========== FOOTER =========== -->
    <%- include('./partials/footer.ejs') %>
    <!-- script  -->
    <%- include('./partials/script.ejs') %>
  </body>
</html>
