<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('./partials/head.ejs') %>
  </head>
  <body>
    <%- include('./partials/header.ejs') %>
    <div>
      <h3 id="showBrand"><%=products.brand%></h3>
      <nav>
      <a href="/products">Back to Index</a>
      <a href="/products/<%=products.id%>/edit">Edit Product</a>
      </nav>
      <img src="<%=products.img%>" id="showImg">
      <h1 id="showName"><%=products.name%></h1>
      <p id="showPrice">$<%=products.price%></p>
      <ul>Description
        <li><%=products.description.detail1%></li>
        <li><%=products.description.detail2%></li>
        <li><%=products.description.detail3%></li>
        <li><%=products.description.detail4%></li>
        <li><%=products.description.detail5%></li>
      </ul>
      <form action="/products/<%=products.id%>?_method=DELETE" method="POST">
        <input type="submit" value="DELETE">
      </form>
    </div>
    <%- include('./partials/script.ejs') %>
  </body>
</html>
